PORT=3000
MONGODB_URI=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?appName=Web-Wallet
JWT_SECRET=<segredo-jwt-aqui>
ALLOWED_ORIGINS=http://localhost:5173
SENDGRID_API_KEY=SG.<sua-chave-aqui>
SENDGRID_FROM_EMAIL=noreply@seudominio.com
FRONTEND_URL=http://localhost:5173
